/* Start of the style sheet */

/* Standards for the web page */
body {
    background: #D5D5D5;
    font-family: Arial, Helvetica, sans-serif;
    color: #6D7993;
    text-align: justify;
}

/*#side-bar {
    position: absolute;
    width: 29.3680297%;
    height: 1400px;
    float: left;
    background: #6D7993;
    color: #D5D5D5;
    font-size: 18px;
    margin: 5px;
}

#content {
    position: relative;
    width: 63.197026%;
    height: 400px;
    margin: 0 auto;
    float: right;
}*/


/* Edit email links */
#email {
    color: #96858F;
    font-size: 100%;
}

/* Navigation Menu Styling */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#96858F;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #9099A2;
}
/* End Navigation Menu Styling */

/*Link Decoration */
a:link {
    text-decoration: none;
    color: #9099A2;
}

a:visited {
    text-decoration: none;
    color: #6D7993;
}

a:hover{
    text-decoration: underline;
}

a {
    padding: 2px;
    font-size: 150%;
}
/* End of Link styling */

/* jumbotron styling */
.jumbotron { 
    width: 100%;
    height: 250px;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}
/* end jumbotron styling */ 

/* Profile Image Styling */
.profile-image.circle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 10px;
}
/* End Profile Image Styling */


/* Media Links Styling*/
.media-link {
  width: 38px;
  height: 38px;
  margin: 0 5px;
}
/* End Media Links Styling */