/* Start of the style sheet */

/* Standards for the web page */
body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    padding-top: 70px;
}

h3 {
    color: white; 
}

h4 {
    color: white; 
}

h4 small {
    color: white;
    display: block;
}

img {
    margin-bottom: 15px;
}

/* Navigation Menu Styling */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#96858F;
}

.nav.navbar-nav {
    float: right;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #9099A2;
}
/* End Navigation Menu Styling */

/*Link Decoration */
a:link {
    text-decoration: none;
    color: #9099A2;
}

a:visited {
    text-decoration: none;
    color: #6D7993;
}

a:hover{
    text-decoration: underline;
}

a {
    padding: 2px;
    font-size: 100%;
}
/* End of Link styling */

.container {
    width: 100%;
}

/* jumbotron styling */
.jumbotron {
    position: relative;
    padding: 30px;
    width: 100%;
    height: 350px;
    text-align: center;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
    z-index: 2;
}
/* end jumbotron styling */ 

/* Welcome tron styling */
.jumbotron .img {
    margin-bottom: 0px;
    opacity: 0.75;
    color: #fff;
    background: #000;
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    /*overflow: hidden;*/
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
}

.jumbotron .img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    /*position: absolute;*/
}

#welcome-tron h4 {
    font-weight: 800;
    font-size: 4vw;
}

#welcome-tron small { 
    font-weight: 300;
    font-size: 2vw;
    padding-top: 0.5%;
}

/* Profile Image Styling */
.circle {
  width: 300px;
  height: 300px;
  line-height: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 10px;
}
/* End Profile Image Styling */

/* Personal Details styling */
.personal-details {
    opacity: 0.75;
    background-color: #000;
    color: white;
}

#personal-info {
    text-align: left;
    margin-left: 40px;
    padding-left: -10px;
}
/* End Personal Detials styling */

/* Media Links Styling*/
.media-link {
  float: right;
  padding-right: 0.5%;
}
/* End Media Links Styling */

/* Progress Bar styling */
.progress {
  height: 25px;
  margin: 25px 0 20px 40px;
}

div .progress {
    background: black;
    /*opacity: 0.75;*/
}

.progress .progress-bar-custom {
    background: white;
}

.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 25px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  color: black;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}
/*end progress bar styling

/* College Image Styling */
.college-img { 
    width: 125px;
    height: 125px;
}

.modal-dialog {
    width:600px;
}

.thumbnail {
    margin-bottom:6px;
}

/* The Modal (background) */
.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

